[2021-06-29 03:41] troysjanda opened #1 "says I am on legacy bio when in fact im on uefi"
![notright](https://user-images.githubusercontent.com/24624945/123733936-436b7b00-d851-11eb-8ad0-3c416ee8e5bc.PNG)

[2021-06-29 03:45] orangegrouptech commented on #1
Thank you for reporting the issue. I have rolled out Patch 1.3.1, which should fix the issue. Could you help me test this? Thanks.

[2021-06-29 12:03] mads1153 opened #2 "Secure Boot doesn't need to be enabled, just it needs to say supported if UEFI has Secure Boot option."
Secure Boot doesn't need to be enabled, just it needs to say supported if UEFI has Secure Boot option.
It's because Windows 11 hardware requirements says "Secure Boot capable" that means it just needs the option, not enabling or disabling. WhyNotWin11 that did have more bad design does this already, so why not this app?
I remembered when I used PC Health Check app and I did have enabled TPM 2.0 in

[2021-06-29 12:06] mads1153 commented on #1
Also the text for this BIOS mode just is black on Dark Mode.

[2021-06-29 12:56] orangegrouptech commented on #1
this issue was fixed in Patch 1.3.2 that i rolled out a few hours ago

[2021-06-29 15:51] mads1153 commented on #2
More improvements that needs to be made:
No alerts at top of user interface despite for there is one red cross for Secure Boot (Secure Boot is not correct, but I thought on other things).
Better mention of which storage to say this is harddrive where OS is installed on because I have two harddrives, one NVMe with OS installed and HDD for games and other things.

I can open one more issue if you th

[2021-06-29 15:57] mads1153 commented on #1
Yes, it works now 👍

So I think this issue can now be closed.

[2021-06-29 16:46] troysjanda commented on #1
Closed as fixed

[2021-06-29 16:46] #1 closed

[2021-06-29 23:35] orangegrouptech commented on #2
Hello,
the alerts doesn't list which specs are not compatible, right now it only warns the user if they're using the Enterprise SKU or if they're already using Windows 11.
I will see if there are any APIs that can check the drive type.
I am also working on making the PowerShell scripts act silently as for some reason it does not respect my process launch parameters.
![image](https://user-images.gi

[2021-06-29 23:50] mads1153 commented on #2
Ok, what about the issue in first post?

[2021-06-30 00:59] orangegrouptech commented on #2
If the computer supports secure boot but is disabled, it's the same as a computer that doesn't support secure boot at all

[2021-06-30 05:46] Vichingo455 opened #3 "Detected BIOS Legacy"
My BIOS Mode is UEFI, but the compatibility checker has detected a BIOS Legacy. Screenshot is here
![image](https://user-images.githubusercontent.com/59311016/123908025-216c1880-d977-11eb-8421-71096734bd31.png)
I have started the Windows 11 Installer and I can run Windows 11
![image](https://user-images.githubusercontent.com/59311016/123908616-0d74e680-d978-11eb-92ab-ba8318f9f5c0.png)

[2021-06-30 05:49] orangegrouptech commented on #3
Hello,
thanks for reporting this issue. Are you using the latest version (Stable 1.4) of the tool?
Thanks.

[2021-06-30 05:52] Vichingo455 commented on #3
Yes

[2021-06-30 06:22] orangegrouptech commented on #3
Alright. Could you send me BIOSMode.txt in %localappdata%\Orange Group\Windows 11 Compatibility Checker?
Thanks.

[2021-06-30 06:30] orangegrouptech commented on #3
actually screw what I said above, try and see if Patch 1.4.1 works

[2021-06-30 06:55] Vichingo455 commented on #3
[BIOSMode.txt](https://github.com/orangegrouptech/Windows-11-Compatibility-Checker/files/6738640/BIOSMode.txt)

[2021-06-30 06:57] Vichingo455 commented on #3
Patch 1.4.1 give me the same results. For the information, I have an ASUS computer

[2021-06-30 07:20] orangegrouptech commented on #3
Try Patch 1.4.2.

[2021-06-30 08:34] Vichingo455 commented on #3
Thank you. Now it detected BIOS UEFI
![image](https://user-images.githubusercontent.com/59311016/123929030-baf2f480-d98e-11eb-833c-4e638fc1b070.png)

[2021-06-30 08:34] #3 closed

[2021-06-30 12:36] mads1153 commented on #2
This answer wasn't like I expected, but OK. Secure Boot capable isn't the same as the computer needs Secure Boot to be enabled, just it needs to say it does support Secure Boot or not and if Secure Boot is enabled, then it should do like the app does already.

[2021-07-09 10:09] Oleg-Chashko opened #4 "Improving the user interface"
1. Please correct the circumcision of the word.
<img width="757" alt="Screen Shot 2021-07-09 at 11 41 44" src="https://user-images.githubusercontent.com/62497891/125061249-6bf34080-e0ad-11eb-8988-2b685d178ac8.png">

[2021-07-09 10:42] orangegrouptech commented on #4
Thanks for bringing this up, working on a patch now

[2021-07-09 10:45] orangegrouptech commented on #4
Hello, could you check if Patch 2.0.3 fixes this issue?
Thanks.

[2021-07-09 11:01] Oleg-Chashko commented on #4
Hello, @orangegrouptech

Point number 1 is corrected.
<img width="755" alt="Screen Shot 2021-07-09 at 12 50 20" src="https://user-images.githubusercontent.com/62497891/125067566-ba580d80-e0b4-11eb-9bc4-f1e4e739786f.png">

But I would like the alignment to be in the middle. It would be a little prettier that way.

<img width="755" alt="Screen Shot 2021-07-09 at 12 50 20" src="https://user-images.gi

[2021-07-09 11:06] Oleg-Chashko opened #5 "Add a check for Internet connection?"
Maybe sometime in the future, add a check for Internet connection?
These are requirements for Windows 11 Home.
<img width="763" alt="125064282-c6da6700-e0b0-11eb-99ec-c8361accfae2" src="https://user-images.githubusercontent.com/62497891/125068870-43bc0f80-e0b6-11eb-8748-9ee9a3d9752a.png">

[2021-07-09 11:07] Oleg-Chashko opened #6 "Please do not see the "Powershell" windows when running the program"
Please do not see the "Powershell" windows when running the program.

[2021-07-09 11:08] Oleg-Chashko opened #7 "Add a button to check for updates"
Please add a button to check for updates.

[2021-07-09 12:21] orangegrouptech commented on #4
i'll work on that.

[2021-07-09 12:21] orangegrouptech commented on #5
Well, if you don't have an Internet connection you can't really download this app though.

[2021-07-09 12:22] orangegrouptech commented on #6
Right now the solution I try to apply to it doesn't really work, I'll see if I can find another method to fix this issue.

![image](https://user-images.githubusercontent.com/63195743/125077141-59035f00-e0f3-11eb-8390-95f5c3e0f34b.png)

[2021-07-09 12:23] orangegrouptech commented on #7
Will work on that.

[2021-07-09 12:42] Oleg-Chashko commented on #5
- That's an option you didn't consider?
What makes you think I downloaded it from the Internet. An acquaintance gave it to me on a usb flash drive.

- Are you sure that all the computers where Windows 11 will be installed will be connected to the Internet?
I'm not so sure about that.

- Yes, and then you also got windows 11 bootable usb.
As surprising as this may sound. But, I all my software on m

[2021-07-09 13:46] Oleg-Chashko commented on #5
One of the possibilities.
Option how to implement this: Your program checks your current Windows license and if you have Windows Home edition installed. A simple warning stating that Internet is required should suffice.

[2021-07-09 13:48] orangegrouptech commented on #5
Fair enough, I'll consider that

[2021-07-09 13:50] orangegrouptech commented on #5
Yeah, that's a good idea since those using Pro or Enterprise SKUs don't really need to worry about this

[2021-07-13 18:04] Vichingo455 commented on #5
In my opinion is better adding a "Internet connection speed" check.

[2021-07-14 03:24] orangegrouptech commented on #5
Well, you only need Internet, even if it's 10MB/s, it's still Internet

[2021-07-14 04:37] orangegrouptech commented on #7
I added this in version 2.1. Try it out and you can give some feedback if you want

[2021-07-14 04:38] orangegrouptech commented on #6
I fixed this in version 2.1. Try it out and you can give some feedback if you want

[2021-07-14 04:38] orangegrouptech commented on #5
I added this in version 2.1. Try it out and you can give some feedback if you want

[2021-07-14 04:38] orangegrouptech commented on #4
I fixed this in version 2.1. Try it out and you can give some feedback if you want

[2021-07-14 07:11] Oleg-Chashko commented on #4
<img width="525" alt="Screen Shot 2021-07-14 at 09 08 44" src="https://user-images.githubusercontent.com/62497891/125578990-6f7fdb67-4e8f-4a5b-a923-9c7106633b14.png">

[2021-07-14 07:45] Oleg-Chashko commented on #5
Unfortunately, I can't, since Windows Enterprise is installed. I think you can close. Thank you.

[2021-07-14 07:47] Oleg-Chashko commented on #4
I think when you fix it, you can close it. Thank you.

[2021-07-14 07:49] Oleg-Chashko commented on #6
There are no more "Powershell" windows, you can close it. Thank you.

[2021-07-14 07:51] Oleg-Chashko commented on #7
You can close it. Thank you.

[2021-07-14 09:57] orangegrouptech commented on #4
Shucks. Well then, I'll probably fix this and release this together with another update that would bring some other new stuff I'm planning to add too.

[2021-07-14 09:58] #7 closed

[2021-07-14 09:58] #6 closed

[2021-07-14 09:58] #5 closed

[2021-07-14 10:02] Oleg-Chashko commented on #4
I will be waiting for your updates, good luck. :)

[2021-07-17 03:14] orangegrouptech commented on #4
Fixed on version 2.2. You can check it out and see if it looks fine now.

[2021-07-17 07:22] Oleg-Chashko commented on #4
I think, you can close it. Thank you. 👍🏻

[2021-07-17 12:30] #4 closed

[2021-07-17 13:55] ThePhOeNiX810815 opened #8 "[Raise Condition] Null Reference Exception"
I assume there's some weird raise condition for this ... unable to reproduce

### Screenshot:
![screen](https://user-images.githubusercontent.com/23176319/126039264-5fb3c34f-882d-41ab-b906-01a8a18ae94b.jpg)

### StackTrace:
[stackTrace.txt](https://github.com/orangegrouptech/Windows-11-Compatibility-Checker/files/6834798/stackTrace.txt)

[2021-07-18 03:00] orangegrouptech commented on #8
Judging by the look of the buttons and the fact that the "Windows 11 Compatibility at a glance" phrase isn't bold, it looks like you might be using the WindowsForms version of the app (version 1.x), which is seriously old. Try and see if this happens with the latest stable version of this app.

[2021-07-18 03:01] orangegrouptech commented on #8
To check the version of the app you have, click the About button at the bottom left. The latest stable version is 2.2.1.

![image](https://user-images.githubusercontent.com/63195743/126054339-ac8fc136-6b80-4969-b298-0f35c5569f8a.png)

[2021-07-18 06:11] ThePhOeNiX810815 commented on #8
Hi there

Yes, I was using version 1.4.2. Already downloaded latest.

thNx for info,

Regards,

Peter Machaj

Mallého 1085/12

909 01 Skalica
Slovenská republika

Tel: +421/(0)951 262 032

Skype: uncanny104

Facebook: Peter Machaj
E-mail:  ***@***.***> ***@***.***

 <https://www.linkedin.com/in/peter-machaj>

From: Orange Group Tech ***@***.***>
Sent: Sunday, July 18, 2021 5:01 AM
To: orangegroupt

[2021-07-18 07:53] ThePhOeNiX810815 opened #9 "TPM Version check"
How about this ?

[TPM.txt](https://github.com/orangegrouptech/Windows-11-Compatibility-Checker/files/6835836/TPM.txt)

[2021-07-18 08:28] orangegrouptech commented on #8
that's weird.

[2021-07-18 08:28] orangegrouptech commented on #9
thanks, i'll take a look at it.

[2021-07-18 10:00] ThePhOeNiX810815 opened #10 "WDDM Version check"
[WDDM.txt](https://github.com/orangegrouptech/Windows-11-Compatibility-Checker/files/6835989/WDDM.txt)

[2021-07-20 01:23] Porua opened #11 "How do i open it?"
Hello, How can i open the Compatibility i tried the zip file won't work.

[2021-07-20 01:50] orangegrouptech commented on #11
Which zip file?
Download the exe file in the Releases tab, the zip file you downloaded is probably for the source code.

[2021-07-20 15:47] Porua commented on #11
Where?
![Github](https://user-images.githubusercontent.com/87680534/126355072-c48e969e-8581-4fb4-8958-8cfffed4828f.png)

[2021-07-20 16:01] krystian3w commented on #11
right column 🤯  - > Releases

or use this: https://github.com/orangegrouptech/Windows-11-Compatibility-Checker/releases/latest

[2021-07-20 16:03] Porua commented on #11
Thank you!

[2021-07-20 16:03] #11 closed

[2021-07-20 16:12] krystian3w commented on #2
My PC revert enabled UEFI only + Secure Boot after reboot with 4 "long" beeps, so start in legacy firstly; so information may is not lie.

[2021-07-22 01:38] orangegrouptech commented on #10
Added in 2.3, you can check it out

[2021-07-22 01:38] orangegrouptech commented on #9
Added in 2.3, you can check it out

[2021-07-22 11:58] 100PIER opened #12 "V2.3 does hang during DirectX WWDDM2 check on my W10 21H1 PC"
Previous version was OK, new version does hang immediatly

[2021-07-22 17:13] YuriPet commented on #9
The version of TPM on my PC determined incorrectly.
![TPM](https://user-images.githubusercontent.com/11704993/126680565-ea2bc4f0-e019-4c68-bf24-4cec80bb06c5.png)

[2021-07-22 18:30] mads1153 commented on #9
I did have this problem too.

[2021-07-22 18:32] mads1153 commented on #2
PC Health app before it was temporarily removed due to feedbacks didn't ask for Secure Boot to be enabled and it did say it's possible to upgrade to Windows 11 after I have enabled AMD CPU fTPM Firmware that was required for TPM 2.0 only and didn't enable Secure Boot in UEFI. Other GitHub app like WhyNotWin11 does say it's supported, not supported or enabled.
This app doesn't it to say supported a

[2021-07-22 21:46] Porua opened #13 "Windows compatibility checker crash"
When i click on the program it crash. Help. Version 2.3

[2021-07-22 21:47] Porua commented on #13
Won't work

[2021-07-22 23:13] orangegrouptech commented on #9
Looking into it

[2021-07-22 23:16] orangegrouptech commented on #13
At which part of the app would it crash? If it's during the GPU check, it will stop responding after a while, don't click on the window or it may crash, just wait it out.

[2021-07-23 05:47] ThePhOeNiX810815 commented on #9
@orangegrouptech ... I've changed WMI query, please, can you check it out ? ... I can't because my 8300 SFF have TPM 1.2.

[TPM Version.txt](https://github.com/orangegrouptech/Windows-11-Compatibility-Checker/files/6866787/TPM.Version.txt)

[2021-07-23 05:53] ThePhOeNiX810815 commented on #12
can you try to run app as Administrator ?

[2021-07-23 06:05] ThePhOeNiX810815 commented on #12
@orangegrouptech  I've changed DXVersion data type for comparison, can you please check it ? ... I think comparison may crash if version is decimal format (for example 11.1, 11.2) during parse to long.

[GPU Check.txt](https://github.com/orangegrouptech/Windows-11-Compatibility-Checker/files/6866996/GPU.Check.txt)

[2021-07-23 06:57] orangegrouptech commented on #12
ah yeah. it was probably trying to convert to int and it can't since there's a decimal. i'm going to roll out a patch soon

[2021-07-23 06:58] orangegrouptech commented on #9
alright, i'll roll out a patch later

[2021-07-23 07:04] orangegrouptech commented on #9
Try this out
This is a prerelease build, so if you click check for updates it'll give you a warning. Just ignore it since you guys are authorised to test this build

[Windows 11 Compatibility Checker WPF.zip](https://github.com/orangegrouptech/Windows-11-Compatibility-Checker/files/6867056/Windows.11.Compatibility.Checker.WPF.zip)

[2021-07-23 07:04] orangegrouptech commented on #12
Try this out
This is a prerelease build, so if you click check for updates it'll give you a warning. Just ignore it since you guys are authorised to test this build

[Windows 11 Compatibility Checker WPF.zip](https://github.com/orangegrouptech/Windows-11-Compatibility-Checker/files/6867062/Windows.11.Compatibility.Checker.WPF.zip)

[2021-07-23 07:05] orangegrouptech commented on #13
Ignore what I said above, try this build, does it work?
This is a prerelease build, so if you click check for updates it'll give you a warning. Just ignore it since you are authorised to test this build

[Windows 11 Compatibility Checker WPF.zip](https://github.com/orangegrouptech/Windows-11-Compatibility-Checker/files/6867063/Windows.11.Compatibility.Checker.WPF.zip)

[2021-07-23 07:15] YuriPet commented on #9
All OK!
![TPM_2](https://user-images.githubusercontent.com/11704993/126749025-fbf325dc-c8d1-43a1-a2a6-663d513d2abf.png)

[2021-07-23 08:24] ThePhOeNiX810815 commented on #9
All OK!
![image](https://user-images.githubusercontent.com/23176319/126755879-a7c13569-61a4-46d5-a2b1-a8f9662857b8.png)

[2021-07-23 08:38] orangegrouptech commented on #9
Alright, I'll officially roll this build out and close this issue after that

[2021-07-23 08:45] #10 closed

[2021-07-23 08:46] orangegrouptech commented on #9
Just pushed out 2.3.1 to stable

[2021-07-23 08:46] #9 closed

[2021-07-23 08:50] orangegrouptech commented on #2
This app doesn't it to say supported and not supported, just disabled or enabled. That's why I created this issue.

Well, this app already does that. "Disabled" means that it is supported, just not enabled in the BIOS.
If it's not supported, there would not be a Registry key at all, and this app will also tell you if it's not supported.

![image](https://user-images.githubusercontent.com/63195743/

[2021-07-23 09:44] 100PIER commented on #12
Hello,

I tried this beta, and got the same crash :

W11_Compatibility_Checker_beta_crash_23juillet21.PNG

Regards

Alain

De : Orange Group Tech ***@***.***
Envoyé : vendredi 23 juillet 2021 09:05
À : orangegrouptech/Windows-11-Compatibility-Checker
Cc : 100PIER; Author
Objet : Re: [orangegrouptech/Windows-11-Compatibility-Checker] V2.3 does hang during DirectX WWDDM2 check on my W10 21H1 PC (#12

[2021-07-23 10:41] orangegrouptech commented on #12
Could you reply using the GitHub website? I can't see the picture you sent.

[2021-07-23 11:49] 100PIER commented on #12
OK, I tried under administrator. here the W10 reliability panel screenshot, and GPUZ screenshots.
![W11_Compatibility_Checker_beta_crash_23juillet21](https://user-images.githubusercontent.com/45947394/126777084-f43d1309-1f5b-48f4-a4e7-de2bc9aa5a84.PNG)
![W11_Compatibility_Checker_beta_crash_GPUZ_infos_23juillet21](https://user-images.githubusercontent.com/45947394/126777614-680df80e-095c-4296-bd5e

[2021-07-23 13:06] Porua commented on #13
It's cheking CPU it crash.

[2021-07-23 13:08] orangegrouptech commented on #13
What CPU do you have?

[2021-07-23 13:41] Porua commented on #13
I have AMD A9

[2021-07-23 13:44] Porua commented on #13
I have an AMD Radeon R5 Graphics or AMD A9

[2021-07-23 21:55] mads1153 commented on #9
Can also confirm this is working fine for me.

[2021-07-23 21:57] mads1153 commented on #2
And then why red cross for Disabled and asking also for enabling Secure Boot in BIOS when that is not necessary to do since it's not required and it should be green or maybe yellow/orange. It's fine if it say "Optional: Enable Secure Boot in BIOS" instead including the other colour for checkmark. It should be red cross for only unsupported that who doesn't have Secure Boot at all. This is only thi

[2021-07-25 06:59] orangegrouptech commented on #13
Weird, maybe try version 2.3.1?

[2021-07-25 14:49] Porua commented on #13
Same problem.

[2021-07-25 14:53] Porua commented on #13
If you wanna know i have Windows 10 21h2 build: 19044.1147

[2021-07-25 14:53] Porua commented on #13
Maybe is the code?

[2021-07-26 06:14] 100PIER commented on #12
hello,

is there a new version without this problem which do occur on 3 different PCs on my side ?

[2021-07-26 06:15] 100PIER commented on #12
Any progress on a new version without the crash issue ?

[2021-07-26 06:17] orangegrouptech commented on #12
Try Patch 2.3.1

[2021-07-26 06:21] orangegrouptech commented on #13
I don't think so. Works for me and for a lot of other people.
I'll send the debug version later for further diagnosis

[2021-07-26 09:34] 100PIER commented on #12
I have tryed Patch 2.3.1 , the crash problem is not fixed;
Tested as admin on 3 different PCs: same issue.
![W11_Compatibility_Checker_v231_crash_26juillet21](https://user-images.githubusercontent.com/45947394/126967560-162b760b-d04a-4702-8cc8-f65f3198dbd3.PNG)

[2021-07-26 10:15] orangegrouptech commented on #12
I'll prepare a debug version of this app later for further diagnosis

[2021-07-26 10:16] orangegrouptech commented on #13
Try this version of the app and tell me what error it shows

[Windows 11 Compatibility Checker WPF.zip](https://github.com/orangegrouptech/Windows-11-Compatibility-Checker/files/6877392/Windows.11.Compatibility.Checker.WPF.zip)

[2021-07-26 10:43] ThePhOeNiX810815 commented on #13
Hi folks

I've already created debug version with mail notification. Check it out, maybe it helps in future or another project.

[Windows-11-Compatibility-Checker-main.zip](https://github.com/orangegrouptech/Windows-11-Compatibility-Checker/files/6877538/Windows-11-Compatibility-Checker-main.zip)

[2021-07-28 01:38] orangegrouptech commented on #2
Took a look at another one of Microsoft's documents, and it's stated that Secure Boot is required.

![image](https://user-images.githubusercontent.com/63195743/127249784-2e1d4bc8-a34c-4c57-8c98-96e9a1129a8c.png)

[2021-07-28 11:37] Vichingo455 commented on #8
Try installing the latest version of .NET Framework. If you have already installed it, try enabling all subfeatures of it

[2021-07-28 11:43] Vichingo455 commented on #2
No, Siam Alam has published a video a few weeks ago focused on bypassing TPM and Secure Boot requirements. But, if you use the ISO of Windows 10 and replace its install.wim image with the one of Windows 11, you are able to install Windows 11 without UEFI, Secure Boot and TPM

[2021-07-28 11:45] orangegrouptech commented on #2
The whole purpose of this checker is to check if your computer "legally" supports Windows 11. You could literally bypass all restrictions except the EFI one by using DISM to install.

[2021-07-28 11:47] Vichingo455 commented on #2
EFI too

[2021-07-28 11:48] orangegrouptech commented on #2
Point stands

[2021-07-29 09:32] IvanAclu opened #14 "Not reporting correctly when more than one graphics card"
Using version 2.3.1 Windows-11-Compatibility-Checker reports
       GPU: DirectX 12.0, WDDM 1.3
This is not correct.  My PC has two graphic cards.
The first card is not Windows 11 compliant but the second card is.
The program result seems to have taken DirectX version from second card and WDDM version from first card.

DxDiag reports
For first graphics card
         DDI Version: 11.2
      Feature

[2021-07-29 22:02] mads1153 commented on #2
It does say "Must include/implement component beside REQUIRED" that doesn't mean it's required to have it enabled, just the option is there.

[2021-07-29 22:04] mads1153 commented on #2
Ok, we will see if the next PC health app will not check this Secure Boot or not later because original one didn't do it to say it's required to be enabled.

[2021-07-29 22:56] orangegrouptech commented on #2
I don't think that would ever come back lol

[2021-07-30 01:12] orangegrouptech commented on #14
I'll look into it

[2021-07-30 08:45] krystian3w commented on #2
I suppose MS use WU mechanism to check instead repair app.

[2021-07-30 18:10] timea-techgirl opened #15 "TPM Error"
TPM is present and enabled but it shows incorrectly

![image](https://user-images.githubusercontent.com/7058205/127694513-23fe0bac-b69d-46bc-9ea8-99c7db052a79.png)

[2021-07-31 01:20] orangegrouptech commented on #15
Could you send TPM.txt in %localappdata%\Orange Group\Windows 11 Compatibility Checker?

[2021-07-31 01:28] timea-techgirl commented on #15
[code]

[2021-07-31 10:51] orangegrouptech commented on #15
weird how it doesn't contain a TpmEnabled line. Which version of Windows are you on?

[2021-07-31 10:52] orangegrouptech commented on #12
Also which version do you mean

[2021-07-31 13:39] timea-techgirl commented on #15
Windows 10 LTSC 1809

[2021-07-31 13:45] orangegrouptech commented on #15
Alright, I'll look into it when I create an 1809 VM

[2021-07-31 14:15] ThePhOeNiX810815 commented on #12
try to use debug build from Issue #13 uploaded by me, we've got detailed information about crash

[2021-07-31 14:17] ThePhOeNiX810815 commented on #15
@orangegrouptech i think it's TPMReady flag which reflect TPM is enabled

[2021-07-31 14:31] 100PIER commented on #12
Version such as v2.0.3 does work fine on any 3 different  PCs i have!
Version v2.3.1 does crash on any 3 different PCs I have !

No progress to get a non bugged version to replace v2.3.1 ?

[2021-07-31 14:33] ThePhOeNiX810815 commented on #12
@100PIER try to use debug build from Issue #13 uploaded by me, we've got detailed information about crash

[2021-07-31 14:45] 100PIER commented on #12
The debug build on #13 has no .exe file ! Please can you explain how to use it ? It does contain a src sub-folder. please can you explain ?

[2021-07-31 15:00] 100PIER commented on #13
v2.3.1 does hang on my 3 PCs W10 64bits 21H1 build 19043.1151 whatever are the hardware configurations.
Old version v2.0.3 did not hang on the same PCs

[2021-07-31 15:06] 100PIER commented on #12
CRASH reported by W10
![W11_Compatibility_Checker_CRASH_31juillet21](https://user-images.githubusercontent.com/45947394/127744154-c1d6f3f3-23ac-4666-b38d-5bd5efe0f130.PNG)

[2021-07-31 15:10] ThePhOeNiX810815 commented on #12
@100PIER I'm sorry, my fault ... I've uploaded only source solution ... debug EXE build here ... please use it, when report comes I'll check the problem and give you back ;-)

[W11-COMPAT-CHECK-DEBUG.zip](https://github.com/orangegrouptech/Windows-11-Compatibility-Checker/files/6911368/W11-COMPAT-CHECK-DEBUG.zip)

[2021-07-31 16:08] tarbear123 opened #16 "running"
what file type do i  need to look for/open to get the program running and is the type the same for all window files you download off of github?

[2021-07-31 16:12] 100PIER commented on #12
Thanks for the proper versionv2.3.1 with embedded Debugger.
Here are the 2 screenshots of the test.
![W11_Compatibility_Checker_DEBUG_version_CRASH_31juillet21](https://user-images.githubusercontent.com/45947394/127745863-31ba9e0f-ceab-48ae-8576-e22fc4c8b4a0.PNG)
![W11_Compatibility_Checker_DEBUG_version_CRASH_up_to_completion_31juillet21](https://user-images.githubusercontent.com/45947394/1277458

[2021-07-31 17:15] ThePhOeNiX810815 commented on #12
@100PIER thanks a lot for report ... I localized source of the issue, but can I please you run once again this new debug build ? ... I added some more details output ... after this I will be able to completely reproduce your execution and finally fix it ... thanks

[W11-COMPAT-CHECK-DEBUG-2.zip](https://github.com/orangegrouptech/Windows-11-Compatibility-Checker/files/6911552/W11-COMPAT-CHECK-DEBU

[2021-07-31 17:28] 100PIER commented on #12
I tested with Debug2. I got the same screenshots as above. The only difference is the Title where (Debug version) is displayed in the main screen.
But where are located the 'details output' do you want ?
Is there somewhere a log trace which can help you ?

[2021-07-31 17:29] 100PIER commented on #12
does the problem during the GPU checking phase ? (the button does remain blue)

[2021-07-31 17:49] 100PIER commented on #12
Screenshot on a W10 machine not W11 compatible.
![W11_Compatibility_Checker_DEBUG_2_version_CRASH_31juillet21](https://user-images.githubusercontent.com/45947394/127748370-ac40e33f-367d-4b29-8a44-8db90e227a23.PNG)
![W11_Compatibility_Checker_DEBUG_2_version_CRASH_up_to_completion_31juillet21](https://user-images.githubusercontent.com/45947394/127748374-9d4d6335-e07f-431c-9bed-142e99b70d36.PNG)

[2021-07-31 18:01] 100PIER commented on #12
Screenshot on a W10 Z390M machine compatible W11.
What is the e-mail problem ?
![W11_Compatibility_Checker_DEBUG_2_version_Z390M_W11_compatible_31juillet21](https://user-images.githubusercontent.com/45947394/127748626-194da69f-ee9f-4cc3-bb42-d3e2610dae06.PNG)
![W11_Compatibility_Checker_DEBUG_2_version_Z390M_up_to_completion_W11_compatible_31juillet21](https://user-images.githubusercontent.com/459

[2021-07-31 18:18] ThePhOeNiX810815 commented on #12
@100PIER thanks a lot ... now I have enough info, I'm going to fix it

The report came to me by e-mail in following form:

![image](https://user-images.githubusercontent.com/23176319/127749067-ec9a9ea8-3824-4a5b-b724-a0c119570226.png)

[2021-07-31 18:32] ThePhOeNiX810815 commented on #12
@100PIER well done, fixed ... thanks for tests ;-)

[Windows-11-Compatibility-Checker-2.3.2.zip](https://github.com/orangegrouptech/Windows-11-Compatibility-Checker/files/6911692/Windows-11-Compatibility-Checker-2.3.2.zip)

[2021-07-31 18:35] ThePhOeNiX810815 commented on #12
@100PIER the e-mail issue on your W10 Z390M looks like some network problem, maybe some firewall, NAT or anti-virus program is blocking port 25 [SMTP]

[2021-07-31 18:49] ThePhOeNiX810815 commented on #16
@tarbear123 i'm not sure I understand ... archive / solution which you download from GitHub is clear source code solution ... if you want to run the application, you must compile the source by any IDE ... i prefer Visual Studio, but you can also use lightweight VS Code ... it's C# WPF project

[2021-07-31 18:56] ThePhOeNiX810815 commented on #14
@orangegrouptech hi, I reworked DXDiag data parsing by index, if there are more GFX cards present ... my thought is that for windows desktop rendering is important primary adapter, so I take it by index 0 ... take a look at it

@IvanAclu try this prerelease version, now it would analyze your first (primary) GFX card ... please check if it shows yhr right info

[Windows-11-Compatibility-Checker-2.3

[2021-07-31 19:03] ThePhOeNiX810815 commented on #15
@orangegrouptech naah, TpmReady is Server related flag

[2021-07-31 19:12] ThePhOeNiX810815 commented on #15
@timea-techgirl can you please try this on admin cmd ?

wmic /namespace:\\root\CIMV2\Security\MicrosoftTpm path Win32_Tpm get /value

My output is like:

IsActivated_InitialValue=TRUE
IsEnabled_InitialValue=TRUE
IsOwned_InitialValue=TRUE
ManufacturerId=1229346816
ManufacturerIdTxt=IFX
ManufacturerVersion=3.17
ManufacturerVersionFull20=Not Supported
ManufacturerVersionInfo=0311080
PhysicalPresenceV

[2021-07-31 19:19] timea-techgirl commented on #15
@ThePhOeNiX810815 There should be a double backslash `\\` after `namespace:`

I got this:
[code]

[2021-07-31 20:28] IvanAclu commented on #14
Thanks for looking at this.
The prerelease file you linked to seems to be source code and not an executable so I cannot test it

[2021-07-31 20:48] 100PIER commented on #12
The provided  2.3.2.zip file does not contain any  .exe application.
Is it possible to get this new v2.3.2 version to do some  tests with  it ?
About anti-virus I do use IOBit Malware Fighter PRO on the 3 different PCs

[2021-08-01 01:24] orangegrouptech commented on #14
@ThePhOeNiX810815 Using the executable that was in the bin\Debug\net45 folder, the GPU check failed for me with a single GPU
@IvanAclu I think the built executable is in src\bin\Debug\net45 folder

[2021-08-01 01:26] orangegrouptech commented on #15
Well good then, it seems to have the stuff we need to check if it's enabled. I'll use this command instead of the original PowerShell Get-Tpm command then.

[2021-08-01 05:55] ThePhOeNiX810815 commented on #14
@orangegrouptech hi, can you please send me [phoenixvm@gmail.com] youx dxv.xml from the run when single GPU check fails ? ... it looks like various DXDiag versions returning results in different formatting ... thanks

[2021-08-01 06:00] ThePhOeNiX810815 commented on #12
@100PIER sorry, try this:
[Windows-11-Compatibility-Checker-2.3.3.zip](https://github.com/orangegrouptech/Windows-11-Compatibility-Checker/files/6912201/Windows-11-Compatibility-Checker-2.3.3.zip)

GPU check might work there, but there are already some issues, wait a while for new release version.

[2021-08-01 06:26] 100PIER commented on #12
Thanks, however i see no .exe into 2.3.3.zip file.

[2021-08-01 06:29] ThePhOeNiX810815 commented on #12
@100PIER hi, just navigate to "Windows-11-Compatibility-Checker-2.3.3\src\bin\Debug\net45" to EXE ...

[2021-08-01 06:54] 100PIER commented on #12
Thanks, I tried it:
The 'Debug' info does no longer exist ?
Always same problem.
![W11_Compatibility_Checker_v2330_CRASH_01aout21](https://user-images.githubusercontent.com/45947394/127762061-1edbecc7-d636-48e1-8d99-5f74728a5ba2.PNG)
Let me know when i can help you for testing.
Thanks for your support, be quiet to fix the problem, do take your time, there is no urgency !

[2021-08-01 07:29] ThePhOeNiX810815 commented on #14
@orangegrouptech thanks for report, I'm going to check it

[2021-08-01 07:51] IvanAclu commented on #14
I ran the the following program;
Windows-11-Compatibility-Checker-2.3.3\src\bin\Debug\net45\Windows 11 Compatibility Checker WPF.exe
It gives an exception when checking the graphics.
   "Unhandled exception has been raised and reported."
The program completes when the exception is OK'd.
The dxv.xml file created is attached as a zip file.

[dxv.xml.zip](https://github.com/orangegrouptech/Windows-11

[2021-08-01 08:04] ThePhOeNiX810815 commented on #14
@IvanAclu thanks for report, working on it ...

[2021-08-01 11:52] ThePhOeNiX810815 commented on #12
@100PIER hi, I've fixed some GFX and TPM checks issues, please, try this pre-release version ...thanks

Executable is in "src\bin\Debug\net45" folder.

[Windows-11-Compatibility-Checker-2.3.4.zip](https://github.com/orangegrouptech/Windows-11-Compatibility-Checker/files/6912624/Windows-11-Compatibility-Checker-2.3.4.zip)

[2021-08-01 11:53] ThePhOeNiX810815 commented on #13
@Porua hi, I've fixed some GFX and TPM checks issues, please, try this pre-release version ...thanks

Executable is in "src\bin\Debug\net45" folder.

[Windows-11-Compatibility-Checker-2.3.4.zip](https://github.com/orangegrouptech/Windows-11-Compatibility-Checker/files/6912624/Windows-11-Compatibility-Checker-2.3.4.zip)

[2021-08-01 11:53] ThePhOeNiX810815 commented on #14
@IvanAclu hi, I've fixed some GFX and TPM checks issues, please, try this pre-release version ...thanks

Executable is in "src\bin\Debug\net45" folder.

[Windows-11-Compatibility-Checker-2.3.4.zip](https://github.com/orangegrouptech/Windows-11-Compatibility-Checker/files/6912624/Windows-11-Compatibility-Checker-2.3.4.zip)

[2021-08-01 11:58] ThePhOeNiX810815 commented on #15
@timea-techgirl hi, I've fixed some GFX and TPM checks issues, please, try this pre-release version ...thanks
@orangegrouptech hi, I've distributed this version for all related issues ... according to feedback, please, take a look at it
- added ExceptionNotifier error handling, sending report on my e-mail by default, you can change it to yours
- reworked TPM check according to @timea-techgirl test

[2021-08-01 12:07] IvanAclu commented on #14
Pre-release 2.3.4 runs without an exception and reports;
GPU: DirectX 12.0. WDDM 2.5

Thanks for resolving this.

[2021-08-01 12:07] #14 closed

[2021-08-01 12:13] ThePhOeNiX810815 commented on #14
@IvanAclu thanks very much for test ... great ;-) ... now we just wait for @orangegrouptech to push official release

[2021-08-01 12:22] ThePhOeNiX810815 commented on #16
@tarbear123 hi, does these informations help you ?

[2021-08-01 13:02] 100PIER commented on #13
v2.3.4 test does work correctly on my X99 machine (not W11 compatible)
I will do test soon on a Z390M machine (W11 compatible) and will join soon a screenshot.

On X99 machine (not W11 compatible):
![W11_Compatibility_Checker_v2340_X99_01aout21](https://user-images.githubusercontent.com/45947394/127771808-7d5beaaa-3ae6-4949-b7e6-ea7014499d21.PNG)

[2021-08-01 13:19] 100PIER commented on #13
v2.3.4 does work on a Z390M machine (W11 compatible).
Thanks for the very quick fix:
![W11_Compatibility_Checker_v2340_Z390M_01aout21](https://user-images.githubusercontent.com/45947394/127772387-f525adb5-6acc-47dd-873c-a193093bd5e4.PNG)

[2021-08-01 13:23] 100PIER commented on #12
Tested v2.3.4 on 2 different machines (report done at #13), all is OK now. Thanks for the very good job !!

[2021-08-01 13:26] ThePhOeNiX810815 commented on #13
@100PIER thanks very much for tests ... great ;-) ... now we just wait for @orangegrouptech to push official release

[2021-08-01 13:28] ThePhOeNiX810815 commented on #12
@100PIER thanks a lot for your patience and testing ;-)

[2021-08-01 13:31] orangegrouptech commented on #15
Alright thanks, I'll apply the updates
I won't apply ExceptionNotifier on this release, I'll add it in a future release where it can be controlled via a switch for privacy reasons - so that it doesn't send stuff without the person's consent
_cough_ telemetry _cough_

[2021-08-01 13:41] orangegrouptech commented on #15
I just pushed out Patch 2.3.2 that includes these fixes. You guys can try it out and see if it works.

[2021-08-01 13:42] orangegrouptech commented on #13
I just pushed out Patch 2.3.2 that includes these fixes. You guys can try it out and see if it works.

[2021-08-01 13:44] orangegrouptech commented on #12
I just pushed out Patch 2.3.2 that includes these fixes. You guys can try it out and see if it works.

[2021-08-01 14:11] 100PIER commented on #12
I see on majorgeeks you pushed out a v2.3.2, and I have done tests with it , all is OK for me on my side.
However the 'check update' function is totally confusing because proposal offered to the user does seem 'outdated'..

[2021-08-01 15:20] timea-techgirl commented on #15
Hey! It works, all green now, no errors

[2021-08-01 23:49] orangegrouptech commented on #12
Oh no, I forgot to update version.txt in my haste to push out the update

[2021-08-01 23:51] orangegrouptech commented on #12
Alright, fixed that

[2021-08-01 23:51] #15 closed

[2021-08-01 23:54] orangegrouptech commented on #12
And wait what, it's on MajorGeeks?

[2021-08-02 07:43] 100PIER commented on #12
Not yet perfect.
Majorgeeks on 1st aug does offer v2.3.2, and "check update" does propose a very confusing menu:
![W11_Compatibility_Checker_v2320_02aout21](https://user-images.githubusercontent.com/45947394/127822906-809b3e67-b271-457a-933e-60e1aa4c45c6.PNG)

[2021-08-02 07:47] orangegrouptech commented on #12
Oh no, that requires a change to the app code itself. I'll patch it later and find an alternative to this potato code

[2021-08-02 07:59] ThePhOeNiX810815 commented on #12
@orangegrouptech I think it's fine, but 'Check for Updates' version comparison shall be comparing only major.minor. In this case, every X.X.X build will be treated as 'patch' or 'pre-release' version

[2021-08-03 03:20] orangegrouptech commented on #12
yeah but we do want people to update to patches sometimes

[2021-08-03 12:51] hooddy opened #17 "Wrong Secure Boot and CPU detection"
Me Intel NUC PC is fully compatible with Windows 11 (except CPU) and enabled GPT/Secure Boot on it. W11CC wrong say that Secure Boot is disabled.

![02](https://user-images.githubusercontent.com/6899176/128018495-b08230b6-c36e-477f-9f96-6e12ce9522dc.png)

And BTW is wrong detect for my CPU. It is Core i7

[2021-08-03 23:07] orangegrouptech commented on #17
That's really weird. Could you take a screenshot of the CPU listed on CPU-Z and the Secure Boot status on msinfo32?

[2021-08-04 05:01] hooddy commented on #17
Oh Im sorry it is correct detect my CPU. Its a mess on my table I confuse with my another PC.
What about Secure Boot so msinfo32 says it is disabled and confirm-securebootuefi says false on it.
Sorry for the inaccuracy. I check UEFI right now and it's looks like that.
![01](https://user-images.githubusercontent.com/6899176/128124586-06ec6935-d2cb-48bd-b785-0882b5102854.PNG)
![02](https://user-imag

[2021-08-04 06:26] orangegrouptech commented on #17
The platform key isn't installed, try installing it in the BIOS

[2021-08-04 06:27] orangegrouptech commented on #12
Actually I'll patch it in the next update. However I'm having some trouble implementing it so it may take a few days

[2021-08-04 06:28] #2 closed

[2021-08-04 06:28] #8 closed

[2021-08-04 06:38] hooddy commented on #17
Thank you. I check Install platform keys and boot with no results. Next I forced Secure Boot to defaults and it is seems to ok.

[2021-08-04 06:38] #17 closed

[2021-08-04 06:42] orangegrouptech commented on #13
@100PIER does the update work for you?

[2021-08-04 07:42] 100PIER commented on #13
YES, i have already replied in #12.
v2.3.2 offered on majorgeeks site does work fine for me on 3 different hardware machines (all of them are running W10 x64, 21H1, build 19043.1151)
Only a minor cosmetic problem is observed as already reported with the  'check update' function. This function results do display confusing information to the user because the display does suggest to update the applic

[2021-08-04 08:00] orangegrouptech commented on #13
Alright.

[2021-08-05 04:07] orangegrouptech commented on #12
I just pushed out version 2.4 that should fix this issue. You can try it out.

[2021-08-05 06:07] 100PIER commented on #12
Tested v2.4.0.0 on my PCs.  Check update problem well fixed.
![W11_Compatibility_Checker_v2400_05aout21](https://user-images.githubusercontent.com/45947394/128299650-45cd97ee-af15-49d9-a6ef-00e552bbe047.PNG)

[2021-08-05 06:14] #12 closed

[2021-08-05 06:14] #13 closed

[2021-08-05 06:15] 100PIER commented on #12
I don't understand where you can obtain the v2.4 stable version with Debugger Mode activate ? The .zip folder does not contain bin subfolder.

[2021-08-05 06:17] orangegrouptech commented on #12
Debug Mode is implemented directly into version 2.4.

[2021-08-05 06:21] 100PIER commented on #12
Is it activate permanently ? or can we active/deactive the Debug Mode as usually any Application Tool does offer ?

[2021-08-05 06:31] orangegrouptech commented on #12
On default, it will prompt you every time an error occurs asking if you want to send the diagnostic data. It'll look like this:

![image](https://user-images.githubusercontent.com/63195743/128302367-69034b09-eac5-42dd-b330-a951627d7d1c.png)
More information about the privacy is here: https://gist.github.com/orangegrouptech/e9e15471df7462319fd1887db42d1d97

[2021-08-05 06:45] 100PIER commented on #12
Thanks, I understand the activation is automatic. However, any  potential compatibility with some firewall (Freebox) or antivirus application when Send Report is selected ? Do we have to 'white list' permanently this application ?

[2021-08-05 06:48] orangegrouptech commented on #12
Probably not since this works by sending the data to my email

[2021-08-05 06:48] orangegrouptech commented on #12
Though if sending fails it'll tell you

[2021-08-05 07:10] 100PIER commented on #12
OK, I understand. I do remember when I have used the Debug version during the test phase, few days ago, the sending did fail when using my Freebox server, but when using my 'share connection' on the smartphone the sendind report was OK. At the moment I don't how to 'educate' the Freebox server to modify its default parameters to authorize your 'send report'. May be this limitation is just for Free

[2021-08-05 07:36] ThePhOeNiX810815 commented on #12
@100PIER i think only requirement to send error e-mail report is open port 25, for SMTP

[2021-08-07 15:51] Vichingo455 commented on #16
If you want to run the checker, simply go to the latest release ( in this case Stable 2.4) and go under assets, then click the exe file of the one. Else, if you want to compile the checker you need to download the source code and Visual Studio + the C# and C++ components.

[2021-08-12 02:39] #16 closed

[2021-08-23 19:41] Vichingo455 opened #18 "[Suggestion] Privacy Policy link"
Please add a Privacy Policy link/button into the About Window
Thanks!

[2021-08-28 03:00] orangegrouptech commented on #18
Will work on it

[2021-08-28 07:57] #18 closed

[2021-08-31 14:24] mads1153 commented on #2
With the new PC Health Check app not many days ago, it does only checks if Secure Boot is supported or not and it will list all that checks with Windows 11 requirements is passed or not, nothing that makes it to say you need to enable Secure Boot.

So I was right.

[2021-08-31 16:53] krystian3w commented on #2
But this can block see updates and need weekly run fun WSUS: https://gitlab.com/wsusoffline/wsusoffline

[2021-09-01 03:09] PREKNOWLEDGEWEB opened #19 "Hangs and crashes"
it only checks CPU requirments then it hangs and crahses

[2021-09-01 10:01] orangegrouptech commented on #19
A dialog box looking like this should have come up. Please click "Send Report" when it shows up. Thanks.

![Uploading image.png…]()

[2021-09-01 10:02] orangegrouptech commented on #19
A dialog box looking like this should have come up. Please click "Send Report" when it shows up. Thanks.

![image](https://user-images.githubusercontent.com/63195743/131652459-642b1a60-cd5d-4355-9296-a96489457333.png)

[2021-09-02 09:53] Comic-Tom opened #20 "did not detect tpm"
hello
![asdasdasdd](https://user-images.githubusercontent.com/89974115/131823295-21caa5f1-5bb4-4c22-a10f-32d9a5fa5323.png)

[2021-09-02 09:54] Comic-Tom commented on #20
[TPMresult.txt](https://github.com/orangegrouptech/Windows-11-Compatibility-Checker/files/7097985/TPMresult.txt)
also adding this

[2021-09-02 14:50] orangegrouptech commented on #20
It looks like your TPM was not enabled

[2021-09-04 11:02] ThePhOeNiX810815 commented on #20
Hi @orangegrouptech

I've do some changes on TPM check conditions. take a look at it.

thNx

[TPM Check.txt](https://github.com/orangegrouptech/Windows-11-Compatibility-Checker/files/7109635/TPM.Check.txt)

[2021-12-28 23:33] Vichingo455 commented on #20
Seems like you have TPM 1.2. Note that Windows 11 requires TPM 2.0

[2021-12-29 01:04] orangegrouptech commented on #19
Closing due to inactivity

[2021-12-29 01:04] #19 closed

[2021-12-29 01:06] orangegrouptech commented on #20
I'm gonna need more than just a Device Manager screenshot, please send over the TPMresult.txt file located in %localappdata%\Orange Group\Windows 11 Compatibility Checker

[2022-03-07 01:49] #20 closed